<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dtrecord.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @dtrecord.string %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dtrecord.age %>
</p>

<p>
  <strong>String:</strong>
  <%= @dtrecord.string %>
</p>

<p>
  <strong>User:</strong>
  <%= @dtrecord.user %>
</p>

<p>
  <strong>References:</strong>
  <%= @dtrecord.references %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @dtrecord.clinic %>
</p>

<p>
  <strong>String:</strong>
  <%= @dtrecord.string %>
</p>

<%= link_to 'Edit', edit_dtrecord_path(@dtrecord) %> |
<%= link_to 'Back', dtrecords_path %>
