<%= form_for(@doctorprofile) do |f| %>
  <% if @doctorprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctorprofile.errors.count, "error") %> prohibited this doctorprofile from being saved:</h2>

      <ul>
      <% @doctorprofile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :qualification %><br>
    <%= f.text_field :qualification %>
  </div>
  <div class="field">
    <%= f.label :clinic %><br>
    <%= f.text_field :clinic %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
