<%= form_for(@doctorprofile) do |f| %>
  <% if @doctorprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctorprofile.errors.count, "error") %> prohibited this doctorprofile from being saved:</h2>

      <ul>
      <% @doctorprofile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :Qualification %><br>
<%= f.select :qualification, [ 'Peadiatrics ','Radiology','Surgery','Gynaecology' ], :prompt => 'Select One' %>

  </div>
  
 
  <div class="field">
        <%= f.label :Hospital %><br>
<%= f.select :clinic, [ 'Mater Hospital ','St.James Hospital','Blackrock Hospital','Coombe Children Hospital' ], :prompt => 'Select One' %>

  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
