<%= form_for(@inst) do |f| %>
  <% if @inst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inst.errors.count, "error") %> prohibited this inst from being saved:</h2>

      <ul>
      <% @inst.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
        <%= f.label :manufacturer %><br>
<%= f.select :manufacturer, [ 'GMP','IrePTV','CorkLTd' ], :prompt => 'Select One' %>
  </div>


  <div class="field">
    <%= f.label :color %><br>
<%= f.select :color, [ 'Blue','yellow','grey' ], :prompt => 'Select One' %>
  </div>
  <div class="field">
Stethoscope (40 EU):
<%= check_box_tag 'inst[windows]', 'windows' %>
</div>

  <div class="field">
Sphygmomanometer (50EU):
<%= check_box_tag 'inst[devise2]', 'devise2' %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
