<p id="notice"><%= notice %></p>

<h1>Listing Insts</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Manufacturer</th>
      <th>Cost</th>
      <th>Description</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insts.each do |inst| %>
      <tr>
        <td><%= inst.firstname %></td>
        <td><%= inst.lastname %></td>
        <td><%= inst.manufacturer %></td>
        <td><%= inst.cost %></td>
        <td><%= inst.description %></td>
        <td><%= inst.color %></td>
        <td><%= link_to 'Show', inst %></td>
        <td><%= link_to 'Edit', edit_inst_path(inst) %></td>
        <td><%= link_to 'Destroy', inst, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inst', new_inst_path %>
