<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @inst.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @inst.lastname %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @inst.manufacturer %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @inst.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inst.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inst.color %>
</p>

<%= link_to 'Edit', edit_inst_path(@inst) %> |
<%= link_to 'Back', insts_path %>
