<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>

  <li><%= link_to 'PatientBIO', pt_records_path %></li>
  <%= render 'layouts/navigation_links' %>


  <li><%= link_to 'Nearby hospitals', new_location_path %></li>
  <%= render 'layouts/navigation_links' %>


  <li><%= link_to 'Purchace Equipments', new_inst_path %></li>
  <%= render 'layouts/navigation_links' %>

</ul>